{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <div class="auth-logo">
            <img src="{% static 'WIEapp/images/login.png' %}" alt="complete">
        </div>

        <h2 style="text-align: center; margin-bottom: 1rem;">ПАРОЛЬ ИЗМЕНЁН</h2>
        <p style="text-align: center;">Теперь вы можете войти с новым паролем.</p>

        <div class="auth-footer">
            <p><a href="{% url 'WIEapp:login' %}">ВОЙТИ</a></p>
        </div>
    </div>
</div>
{% endblock %}