
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHOisE — ВХОД</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <div class="auth-logo">
            <img src="{% static 'img/mail.png' %}" alt="mail">
        </div>

        <p class="inf" >Мы отправили ссылку для подтверждения на ваш email.</p>
        <p class="inf">Перейдите по ней, чтобы завершить регистрацию.</p>

        <div class="auth-footer">
            <p><a href="{% url 'WIEapp:login' %}">ВЕРНУТЬСЯ КО ВХОДУ</a></p>
        </div>
    </div>
</div>
{% endblock %}