{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>whoise</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="status-panel {% if user.is_authenticated %}auth{% else %}guest{% endif %}" id="statusPanel">
    {% if user.is_authenticated %}
        <div class="panel-section panel-space">
            ПРОСТРАНСТВО:[ <a href="{% url 'WIEapp:spaces_list' %}" class="panel-clickable">
               <span id="current-space-name">{{ current_space_name|default:". . ." }}</span>
            </a>]
        </div>

        <div class="panel-section">
          СИГНАЛЫ: [  <a href="{% url 'WIEapp:notifications' %}" class="panel-clickable" id="notifications-count">0</a>]
        </div>

        <div class="panel-section panel-clickable">
            <a href="{% url 'WIEapp:profile' %}" class="panel-clickable">@{{ user.username }}</a>
        </div>
    {% else %}
        <div class="panel-section panel-clickable">
            <a href="{% url 'WIEapp:login' %}" class="panel-clickable">ВХОД</a>
        </div>
    {% endif %}
</div>

<main class="main-content">
    {% block content %}
    {% endblock %}
</main>

{% if user.is_authenticated %}
<script>
function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    async function updateNotificationsCount() {
        try {
            const response = await fetch('{% url "WIEapp:unread_count" %}');
            const data = await response.json();
            const span = document.getElementById('notifications-count');
            if (span) {
                span.textContent = `${data.count}`;
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        updateNotificationsCount();
        setInterval(updateNotificationsCount, 30000);
    });
</script>
{% endif %}

</body>
</html>